@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff9fb;
  --primary: #a20021;
  --secondary: #2a2b2a;
  --accent: #706c61;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--secondary);
}

a {
  width: fit-content;
  display: flex;
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

a:hover {
  background-color: var(--accent);
}
